WRDS_USERNAME=jdoe
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_API_KEY= # Replace with your actual OpenAPI key
OPENAI_BATCH_SIZE=40000 # OpenAI batch size limit is 50,000 rows in a JSONL

START_DATE=2021-10-01
END_DATE=2026-02-28
